.main{
    width: 300px;
    height: 400px;

}
.text{
    font-weight:bold;
    font-size:40px;
    background-color: #0c6060;
    width:250px;
    height: 60px;
    margin: 20px;
}
.cool{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap ;
}
